/* Nascondiamo l'input brutto del browser */
#cover-upload {
    display: none;
}

.cover-preview-wrapper {
    display: block;
    width: 200px; /* Dimensione del riquadro anteprima */
    margin: 0 auto;
    cursor: pointer;
}

#preview-container {
    width: 100%;
    aspect-ratio: 1 / 1;
    background-color: #212121;
    border: 2px dashed var(--border-color);
    border-radius: 12px;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    transition: all 0.3s ease;
    position: relative;
}

#preview-container:hover {
    border-color: var(--accent-color);
    background-color: #202020;
}

#placeholder-text {
    font-size: 2rem;
    color: var(--text-dim);
    font-weight: 300;
}

#image-preview {
    width: 100%;
    height: 100%;
    object-fit: cover; /* Riempie il quadrato senza deformarsi */
}
.form-actions {
    display: flex;
    flex-direction: column; /* Impilati su mobile */
    gap: 12px;
    margin-top: 30px;
}

/* Bottone Primario (Crea) */
.btn-primary {
    width: 100%;
    padding: 14px;
    background-color: var(--accent-color);
    color: #ffffff;
    border: none;
    border-radius: 8px;
    font-size: 15px;
    font-weight: 600;
    cursor: pointer;
    transition: all 0.2s ease;
}

.btn-primary:hover {
    background-color: #00ff0060; /* Leggermente più chiaro */
    transform: translateY(-1px);
    box-shadow: 0 5px 15px rgba(63, 81, 181, 0.3);
}

.btn-primary:active {
    transform: translateY(0);
}

/* Bottone Secondario (Annulla) */
.btn-secondary {
    display: block;
    width: 100%;
    padding: 12px;
    background-color: transparent;
    color: var(--text-dim);
    border: 1px solid var(--border-color);
    border-radius: 8px;
    text-align: center;
    text-decoration: none;
    font-size: 14px;
    font-weight: 500;
    transition: all 0.2s ease;
}

.btn-secondary:hover {
    background-color: rgba(255, 0, 0, 0.646);
    color: var(--text-main);
    border-color: #555;
}

/* Layout per schermi più grandi */
@media (min-width: 480px) {
    .form-actions {
        flex-direction: row-reverse; /* Crea a destra, Annulla a sinistra */
    }
    
    .btn-primary {
        flex: 2; /* Il tasto crea è più largo */
    }
    
    .btn-secondary {
        flex: 1;
    }
}